*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url("https://raw.githubusercontent.com/jecarpenter/Basic-Portfolio/master/assets/images/concrete_seamless.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header starts here */

.header{
    width: 100vw;
    height: 100px;
    display: block;
    background-color: white;
    border-bottom-style: solid;
    border-color: gray;
    border-bottom-width: 2px;
}

.inner_header {
    width: 1020px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.myname {
    height: 100%;
    display: table;
    float: left;
}

.myname h1 {
    color: blue;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 1000;
    text-align: center;
    padding: 20px;
}
/*this code is to control the whole nav div */
.nav {
    float: right;
    height: 100%;
   /* background-color: gray; */
}
/*this code is to make each link align either at the top or bottom and add details to it */
.nav a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
/*this is if you want to add color to the nav links when you hover the pointer over it. */
.nav a li:hover {
    color: teal;
}

.nav a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #777777;
    font-weight: 600;
}

.nav a:last-child {
    padding-right: 20px;
}

.footer {
    width: 100vw;
    background-color: gray;
    display: block;
    overflow: hidden; /* lets you either hide information and use the screll button or make it visible using hidden or scroll or auto */
    padding: 30px 0;
    box-sizing: border-box;
    border-top: solid;
    border-color: teal;
    border-width: 8px;
    margin-top: auto;
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.copyright {
    text-align: center;
    color: white;
}
/*container starts here */

.container {
    background-color: white;
    padding: 20px;
    width: 980px;
    margin: 50px auto;
    border: solid 2px white;
}

input[type=text], select, textarea {
    width: 960px;
    padding: 10px;
    border: solid black;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: teal;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
}
 
#subject {
    padding: 60px 10px;
    
}

input[type=submit]:hover {
    background-color: teal;
}

.container {
    background-color: white;
    padding: 20px;
    border-color: gray;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#contact_head {
    color: teal;
    font-size: 32px;
    font-weight: bold;
    border-bottom: solid 5px white;
}