*{ 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: gray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100vw;
    height: 100px;
    display: block;
    background-color: gray;
    border-bottom-style: solid; 
    border-color: red; 
    border-bottom-width: 2px; 
}

h1{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: teal;
    width: 20%;
    margin: 0;
}
.navbar{
    padding: 40px;
    width: 30%;
    float: right;
    background-color: white;
    padding-right: 20px;
    border: 50%;

}

ul li{
    
    float: right;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

h2{
    color: teal;
}

p{
    line-height: 40px;
}

#main-bio {
    width: 70%;
    border: 20px;
    padding: 40px;
    background-color: blue;
}

.Container { 
    width: 900px;
    margin: 0 auto;
    background-color: white;
    margin: 40px;
    display: block;
}

.img-fluid{
    width: 200px;
}


